
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #363535;
}

/* Стили для меню */

.nav {
  position: relative;
  right: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  background-color: #221e18;
  width: 20%;
  height: 100vh;
  padding: 15px;
  z-index: 1;

}
.menu-game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 5px #9f8573;
  border-radius: 2em;
  max-width: 200px;
  width: 100%;
  height: 90vh;
  margin: auto;
}

.title-menu{
  font-size: 32px;
  color: #9f8573;
  margin: 0 auto;
  padding: 10px;
}

.reset-button{
  display: block;
  position: absolute;
  top: 65vh;
  border: solid 3px #9f8573;
  border-radius: 0.5em;
  padding: 0.3em;
  border: solid 3px #9f8573;
  background-color:  #9f8573;
  margin: 0.3em;
}

.reset-button:hover{
  border: solid 3px #b5e260;
  background-color: #b5e260;
  color: #221e18;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.1);
}
.main{
  width: 75%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
  margin-left: 15px;
}
.content-main{
  width: 75vw;
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: solid 5px #9f8573;
  border-radius: 2em; */
  margin: auto;
}
.game{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 5px #9f8573;
  border-radius: 2em;
  height: 40%;
  width: 90%;
} 
.code{
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

/* Стили для css-editor */
.css-editor,
.html-viewer{
  position: relative;
  width: 50%;
  border-radius: 2px;
  background-color: #221e18
}

.content-css-editor{
  position: relative;
  background-color: #c4c4c5;
  border-radius: 2px;
}
.content-css-editor .line-number{
  position: absolute;
  top: 0;
  left: 0;
  padding: 7px 7px;
  height: 100%;
  line-height: 150%;
  text-align: right;
}

.line-number{
  color: #5f5f61;
  background: #f1f1f3;
}

.html-viewer .line-number{
  position: absolute;
  top: 0;
  left: 0;
  padding: 7px 7px;
  height: 100%;
  line-height: 150%;
  text-align: right;
}
.content-html-viewer{
  position: relative;
  height: 243px;
}

.htmlViewerLayout{
display: flex;
flex-wrap: wrap;
justify-content: start;
text-align: start;
color: #979997;
font-size: 15px;
}
@keyframes css-input{
  50% {
    background: none;
  }
}
.css-input{
  display: block;
  width: calc(83%);
  text-align: center;
  padding: 0.4em;
  background: rgba(13, 243, 25, 0.3);
  animation: css-input .5s infinite;
  color: #221e18;
  border: none;
}

.input-header{
  display: flex;
  gap: 5px;
  justify-content: end;
}

.button-css-editor,
.button-css-help{
  padding: 0.1em;
  background: #bdbeba;
  cursor: pointer;
  border-radius: 3px;
  color:#272727;
  border: solid 2px #979997;
}
.header-code{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  background-color: #221e18;
  color: #f0f7f2;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,.603);
  border-top: 1px solid #6272a4;
  border: 5px;
  border-radius: 2px;
  z-index: 2;
}

/* Стилизуем чекбокс */
.content-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.item-content-menu{
  display: block;
  display: flex;
  text-decoration: none;
  color:  #9f8573;
  font-size: 26px;
  column-gap: 0.5em;
}

.icon-menu{
  font-size: 28px;
  color:#9f8573;
}

.item-content-menu:hover{
  color: #b5e260;
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}

.item-content-menu:hover .icon-menu{
  color:#b5e260;
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}

.active-item,
.active-icon {
  color:#b5e260;
  transform: scale(1.1);
  transition: 0.5s;
}

/* Стол 
.game{
background-image: url(./img/table.png);
}
*/
.task{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  color: #dddad7;
  margin-top: 0.5em;
}
.board{
  transform: translate3d(0,0,0);
  perspective: 250px;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}
.table-wrapper{
    width: 583px;
    min-height: 142px;
    transform-origin: bottom;
    position: relative;
    margin: 10px auto 0 auto;
    width: 250px;
}

.table-surface{
  box-shadow: 0px 40px 10px rgba(0,0,0,.2);
  background: linear-gradient(#ebd8b2,#eec29c);
  position: absolute;
  height: 100%;
  bottom: 0;
  width: 100%;
}

.table-egle{
  margin: 0 auto 10px auto;
  background: #eec29c;
  height: 15px;
  transform: rotateX(-40deg);
  transform-origin: top;
}

.table-leg {
  width: 24px;
  height: 15px;
  background: #ebd8b2;
  position: absolute;
  top: 15px;
}

.table-leg:first-child {
  left: 20px;
}
.table-leg:last-child {
  right: 20px;
}

.table{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  transform-style: preserve-3d;
  outline: solid 1px transparent;
  min-height: 142px;
  padding: 15px 15px 22px 15px;
  position: relative;
  white-space: nowrap;
};



@keyframes strobeStart {

0% {
  transform: skew(0deg,0deg) scaleY(1);
  animation-timing-function: ease-in;
}
40% {
  transform: skew(0deg,0deg) scaleY(.9);
  animation-timing-function: ease-out;
}
100% {
  transform: skew(4deg,0deg) scaleX(1);
}
}

@keyframes strobe {
  0% {
    transform: skew(4deg,0deg) scaleX(1);
}
10% {
    transform: skew(1deg,0deg) scaleY(.9);
}
50% {
    transform: skew(-4deg,0deg) scaleX(1);
}
60% {
    transform: skew(-1deg,0deg) scaleY(.9);
}
100% {
    transform: skew(4deg,0deg) scaleX(1);
}
}

/* Анимация для Editor */
@keyframes shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.twitch {
  animation: shake 0.6s linear;
}
.twitch-editor{
  background: red !important;
}
.right {
  transition: all 0.5s ease;
  transform: scale(1.1);
  background: rgb(2, 99, 2) !important;
  font-weight: 600;
}

.htmlViewerLayout{
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 2.5em;
  padding-top: 0.6em;
}

.done{
  color: rgb(2, 99, 2);
}

.highlight:hover{
  box-shadow: 0 0 10px 5px rgb(141, 139, 139);
}
#highlight {
  box-shadow: 0 0 10px 5px rgb(141, 139, 139);
  transform: scale(1.1);
}



#win-message{
  animation: pulsate 3s ease-out;
  animation-iteration-count: infinite; 
  opacity: 1;
}

@keyframes pulsate {
  0% { 
      opacity: 1;
  }
  50% { 
      opacity: 2;
      color: rgb(2, 99, 2);
  }
  100% { 
      opacity: 1;
  }
}
/*#square:hover{
  background-color: #6272a4;
  transform: scale(1.1);
}
*/
.author-info {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  row-gap: 3em;
  color: #979997;
}

.item-author-info{
  margin: auto;
  color: #979997;
}
